body { background-color: #c9c7aa;
	margin: 0;

	font-family: Georgia, 'Times New Roman', Times, serif;}	
header { background-color: #074211; 
		padding: 1em;
     color: #FFFFFF; 
	 font-family: Georgia,serif;
		Background-repeat: no-repeat; }
h1{ 			font-size: 2.5em;
				text-align: center;
				color: #1976D2;
				font-family: Georgia; }

#pictureRock { background-size: 200% 100%;
			
			height:300px;
			background-repeat: no-repeat;
			 background-image: url(coast.jpg);
			alt:"PICTURE ROCK NATIONAL PARK" ;}

nav { 	background-color:#1a2216;
		font-size: 1.2em;
		text-align:center;}
nav a {text-decoration: none;}
nav a:link{color: #d1cfd8;}
nav a:visited {color: #344873}
nav a:hover{color: #A52A2A}
nav ul{ display: flex;
		flex-direction: column;
		list-style-type: none; 
		padding-left: 0;
		margin:0 ;}
nav li{ padding-top: .5em;
		padding-bottom: .5em;
		padding-left:1em;
		padding-right:1em;
		width: 100%;
		border-bottom: 1px solid;}

h2{ font-family: Georgia; }
main { 	padding-top: 0;
		padding-bottom:0;
		padding-left: 2em;
		padding-right: 2em;
		display: block; }

aside{  width: 30%;
	padding-left: 5px;
	margin-left: 5px;
	float: right;
	font-style: italic;
	background-color: rgb(219, 217, 217);}
 
.state { color: #094581;
		font-size: 1.2em; }
footer {  text-align: center;
		position: absolute;
		Background-color: #FFFFFF;
		padding: 1em;
         font-size: .75em;
         font-style: italic; }
#wrap { background-color: #e70909;
			background: linear-gradient(#FFFFFF, #3b8147);}
* {box-sizing: border-box;}
nav ul { display: flex; 
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
		padding-right: 2em;}
nav li { width: 12em;
		border-bottom: none;}
@media (min-width:1024px) { body
			{ background-image: linear-gradient(to bottom, #d2eccc 20%, #074724 60%, #FFFFFF 100%);}
nav ul { padding-right: 10%;
				padding-left: 10%;}}
		

	 

